# Connectivity
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example

# Dependencies
node_modules
/backend/node_modules
/frontend/node_modules
/backend/npm-debug.log*
/frontend/npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Production / Build
/frontend/build
/frontend/dist
/backend/dist

# IDEs and Editors
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
